@import "bulma/css/bulma.css";

* {
  font-family: "Lato", sans-serif;
}

main {
  width: 80vw;
  margin: 45px auto;
}

.title-container {
  position: relative;
}

.title-container > h1 {
  text-align: center;
  color: #3a3a3a;
}

#calendar {
  position: relative;
  width: 80vw;
  max-width: 800px;
  padding: 15px;
  margin: 60px auto;
}

.fc-today-button {
  display: none !important;
}

.title-img {
  width: 100vw;
  display: block;
  border-radius: 3px;
  max-width: none;
}
