.hero {
  position: relative;
  overflow: hidden;
}

.title {
  top: 15px;
  left: 15px;
  position: absolute;
}

div.title h1 {
  font-size: 64px;
  margin-bottom: 10px;
}

div.title h2 {
  color: #d6d6d6;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 5px;
}

a * {
  text-decoration: none;
  color: rgb(54, 54, 54);
  font-weight: 400;
}

a h2:hover {
  transition: all 1s;
  /* color: dodgerblue; */
}

a {
  color: rgb(54, 54, 54);
}

p {
  font-family: roboto;
}

.streams {
  width: 70vw;
  margin: auto;
}

/* .streams-container {
  width: 90vw;
  margin-left: 5vw;
} */

body {
  padding-bottom: 150px !important;
}
